html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* fin reset css */


body{
	background-image: url(fdecran.jpg);
	background-size:cover;
    margin: 0 auto;
}

#titre{
	font-size:3em;
	text-align:center;
	font-weight: bold;
	color: #1f21a0;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-variant: small-caps;
	padding: 5px;
	margin-bottom: 30px;
	background-color:  rgba(0, 0, 0, 0.651);
	border: groove  #1b1eac;;
	}


.fas{
	position:absolute;
	color:#ffffff;
	top: 40px;
	left: 40px;
	background-color: #000000e0;
	padding: 10px;
	border-radius: 100%;
	border: groove  #1b1eac;;
}

li{
list-style-type: none; 
margin: 0 80px;
height: 100px;
top:100px;


}
.listederoulante{
	margin: 0 10%;
	top:65px;
	background-color:rgba(0, 0, 0, 0.651);
	border:solid;
	padding-left:20px;
	border: groove  #1b1eac;;
	display:inline-block;
	padding-right:20px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.barre{
	background-color:blue;
}
/* body{
	cursor: url(""), pointer;} */
.dossier{
	width:40px;
	position:relative;

}
.nombredossier{
	bottom:5px;
	position: absolute;
	border:1px solid #6b5757;
	padding: 5px;
	background-color:rgba(255, 255, 255, 0.582);
	bottom: 0;
	right: 0;
}

.arborescence{
    
	color: rgb(0, 0, 0);
	background-color: #616161b7;
	background-color:rgba(255, 255, 255, 0.582);
	font-size: 1em;
	padding: 5px;
	position: absolute;
	bottom: 0;
}

.fichier{
	width:40px;
	position:relative;
	display:block;
}

li a{
	text-decoration:none;
	color:rgb(245, 245, 245);
	margin: 10px 0;
	font-size: 1.66em;
	text-align: center;
	display:block;
	width: 150px;
	
}
li img{
	display:block;
	margin: 0 auto ;
}
