html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* fin reset css */


body{
    margin-left:5%;
    width:90%;
    margin-right:5%;
    position: absolute;
	background-image: url(fdecran.jpg);
	background-size:cover;
	background-repeat: no-repeat;
    
}

h1{
font-size:3em;
text-align:center;
font-weight: bold;
color: rgb(255, 187, 0);
font-family: Georgia, Times, 'Times New Roman', serif;
font-variant: small-caps;
padding-top: 20px;
}



.arborescence{
    
	color: rgb(211, 214, 16);
	background-color: #6b575700;
	font-size: 1.5em;
	margin-bottom: 5px;
}

.fas{
	position:relative;
	color:#7f8080;
}

li{
list-style-type: none; 
margin: 0 80px;
height: 100px;
top:100px;


}
.listederoulante{
	top:65px;
	background-color:rgba(255, 255, 255, 0.397);
	border:solid;
	padding-left:20px;
	border-color:#6b5757;
	display:inline-block;
	padding-right:20px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.barre{
	background-color:blue;
}
/* body{
	cursor: url(""), pointer;} */
.dossier{
	width:40px;
	position:relative;

}
.nombredossier{
	bottom:5px;
	position: fixed;
	border:1px solid #6b5757;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	background-color:rgba(255, 255, 255, 0.582);
}
.fichier{
	width:40px;
	position:relative;
	display:block;
}

a{
	text-decoration:none;
	color:black;
	font-size: 1.66em;
	
	display:block;
	
}
li img{
	display:block;
	margin: 0 auto ;
}
